.past-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 30%;
}

.wrapper {
    display: flex;
    align-items: center;
    flex: 1 0 21%;
    flex-wrap: wrap;
    margin: 1rem 1rem;
}

.material-icons {
    font-size: 3rem !important;
}

.phd {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 2rem 2rem;
    flex: 1 0 21%;
    max-width: 33%;
}

.view {
    height: 23rem;
}

.overlay img {
    /* min-height: 18rem !important; */
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .past-container {
        flex-direction: column;
        flex: 1 1 50%;
    }
    .phd {
        flex-direction: column;
    }
    .card {
        max-width: 100% !important;
    }
}